#!/bin/sh

# Import vappio config
vappio_scripts=/opt/vappio-scripts
source $vappio_scripts/vappio_config.sh

vlog "###"
vlog "### master_user-data.sh $0 (`whoami`)"
vlog "###"

# contextualize this node as a MASTER
export MASTER_NODE=localhost

# store the provided CLUSTER_PRIVATE_KEY into the ssh_key as defined in vappio_config
mkdir -p `dirname $ssh_key`
cat > $ssh_key <<EOF
<TMPL_VAR NAME=CLUSTER_PRIVATE_KEY>
EOF

chmod 600 $ssh_key
chown www-data:www-data $ssh_key

# append the CLUSTER_PUBLIC_KEY to the authorized_keys file
echo -e '\n<TMPL_VAR NAME=CLUSTER_PUBLIC_KEY>' >> /root/.ssh/authorized_keys


cat > /tmp/machine.conf <<EOF
<TMPL_VAR NAME=MACHINE_CONF>
MASTER_IP=`hostname -f`
EOF


cat > /tmp/ec2-cert.pem <<EOF
<TMPL_VAR NAME=CERT_FILE>
EOF

cat > /tmp/ec2-pk.pem <<EOF
<TMPL_VAR NAME=PK_FILE>
EOF

chmod a+r /tmp/*.pem

touch /tmp/didsomething

vlog "Done w/ master_user-data.sh"
