#!/bin/sh

# Import vappio config
vappio_scripts=/opt/vappio-scripts
source $vappio_scripts/vappio_config.sh

vlog "###"
vlog "### exec_user-data.sh $0 (`whoami`)"
vlog "###"

# contextualize this node as an EXEC
export MASTER_NODE=<TMPL_VAR NAME=MASTER_PRIVATE_DNS>
export EXEC_NODE=localhost

# store the provided CLUSTER_PRIVATE_KEY into the ssh_key as defined in vappio_config
mkdir -p `dirname $ssh_key`
echo -e -n '<TMPL_VAR NAME=CLUSTER_PRIVATE_KEY>' > $ssh_key

# append the CLUSTER_PUBLIC_KEY to the authorized_keys file
echo -e '\n<TMPL_VAR NAME=CLUSTER_PUBLIC_KEY>' >> /root/.ssh/authorized_keys

touch /tmp/ran_launch_exec

export LAST_CMD="echo Doing last_cmd > /tmp/vappio_config.out"

vlog "Done w/ exec_user-data.sh"
