#!/bin/sh

# Import vappio config
vappio_scripts=/opt/vappio-scripts
source $vappio_scripts/vappio_config.sh

vlog "###"
vlog "### exec_user-data.sh $0 (`whoami`)"
vlog "###"

# contextualize this node as an EXEC
export MASTER_NODE=<TMPL_VAR NAME=MASTER_DNS>
export EXEC_NODE=localhost
echo "$MASTER_NODE" > $vappio_userdata/master_node
echo "exec" > $vappio_userdata/node_type
# store the provided CLUSTER_PRIVATE_KEY into the ssh_key as defined in vappio_config
mkdir -p `dirname $ssh_key`
cat > $ssh_key <<EOF
<TMPL_VAR NAME=CLUSTER_PRIVATE_KEY>
EOF

chmod 600 $ssh_key
chown www-data:www-data $ssh_key

# append the CLUSTER_PUBLIC_KEY to the authorized_keys file
echo -e '\n<TMPL_VAR NAME=CLUSTER_PUBLIC_KEY>' >> /root/.ssh/authorized_keys

cat > /tmp/machine.conf <<EOF
<TMPL_VAR NAME=MACHINE_CONF>
MASTER_IP=$MASTER_NODE
EOF

touch /tmp/ran_launch_exec

vlog "Done w/ exec_user-data.sh"
